.pokemon-container {
  display: flex;
  justify-content: space-between;
}

.pokemon-category {
  flex-grow: 1;
  color: #ffe600;
  padding-left: 25px;
  max-width: 348px;
  background-color: rgba(0, 0, 0, 0.73);
  margin-right: 1px;
}

.pokemon-description {
  flex-grow: 2;
}
